{% extends 'header.html' %}

{% block body %}

<div class="header clearfix">
  <nav>
    <ul class="nav nav-pills float-right">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/charts">Charts <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/light">Light</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/panel">Admin</a>
      </li>
    </ul>
  </nav>

  <h3 class="text-muted">Charts</h3>

</div>
<div class="ui-40">
<!-- Weather Block -->
<div class="weather">
  <!-- Heading -->
  <h2><i class="fa fa-cube lblue"></i>View Charts</h2>
  <a href="/temperature">Temperature</a></br>
  <a href="/humidity">Humidity</a></br>
  <a href="/pressure">Pressure</a></br>
  <a href="/airflow">Air Flow</a></br>
  <a href="/intensity">Light Intensity</a></br>
  <a href="/frequencies">Frequencies</a>
  <div class="week-report">
    <ul class="list-unstyled">
      <li>
        <div class="report-item">
          <i class="fa fa-leaf lblue"></i>
          <span class="w-dtls">Project Evergreen DAK</span>
        </div>
      </li>
    </ul>
  </div>
</div>
</div>

{% endblock %}
