{% extends 'header.html' %}

{% block body %}

<div class="header clearfix">
  <nav>
    <ul class="nav nav-pills float-right">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/charts">Charts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/light">Light</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/panel">Admin <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </nav>

  <h3 class="text-muted">Admin</h3>

</div>

<div class="ui-40">
<!-- Weather Block -->
<div class="weather">
  <!-- Heading -->
  <h2><i class="fa fa-cube lblue"></i>Admin Panel</h2>
  <br>
  <h3 align="center">
    State Of Device A: <span id='state'></span><br>
    Set State Of Device B:
  </h3>
  <p align="center">
  <button type='button' id='deviceB_on'>DEVICE ON</button>
  <button type='button' id='deviceB_off'>DEVICE OFF</button>
</p><br>
  <p align="right">
    <a href="/register">Add User</a>
    <a> | </a>
    <a href="/logout">Logout &nbsp;&nbsp;&nbsp;&nbsp;</a>
  </p>
  <div class="week-report">
    <ul class="list-unstyled">
      <li>
        <div class="report-item">
          <i class="fa fa-leaf lblue"></i>
          <span class="w-dtls">Project Evergreen DAK</span>
        </div>
      </li>
    </ul>
  </div>
</div>
</div>

<script>
$(document).ready(function() {
  $('#deviceB_on').click(function() {
    console.log('deviceB On!');
    $.post('/device-b/1');
  });
  $('#deviceB_off').click(function() {
    console.log('deviceB Off!');
    $.post('/device-b/0');
  });
});
</script>
<script>
  function newState(value) {
    if (value === '0') {
      $('#state').text('\xa0'+'Off'+'\xa0');
      document.getElementById('state').style.color = 'White';
      document.getElementById('state').style.background = 'Gray';
      document.getElementById('state').style.borderRadius = '8px';
    }
    else if (value === '1') {
      $('#state').text('\xa0'+'On'+'\xa0');
      document.getElementById('state').style.color = 'White';
      document.getElementById('state').style.background = 'Lime';
      document.getElementById('state').style.borderRadius = '8px';
    }
    else {
      $('#state').text('\xa0'+':('+'\xa0');
      document.getElementById('state').style.color = 'White';
      document.getElementById('state').style.background = 'DodgerBlue';
      document.getElementById('state').style.borderRadius = '8px';
    }
  }
  var dataSource = new EventSource('{{ url_for('readState') }}');
  dataSource.onmessage = function(e) {
    newState(e.data);
  }
</script>

{% endblock %}
